.nav{
position:fixed;
top:18px;
left:50%;
transform:translateX(-50%);

width:min(92%,1180px);
height:72px;

padding:0 30px;

display:flex;
justify-content:space-between;
align-items:center;

background:rgba(255,255,255,.62);

backdrop-filter:blur(30px);

border:1px solid rgba(255,255,255,.7);

border-radius:999px;

box-shadow:
0 10px 30px rgba(0,0,0,.05);

z-index:999;
}

.logo{
font-weight:900;
font-size:28px;
}

.menu{
display:flex;
gap:42px;
list-style:none;
font-weight:600;
}

.cta{
border:none;
padding:14px 24px;
border-radius:999px;
background:var(--lime);
font-weight:700;
}

@media(max-width:900px){
.menu{
display:none;
}
}