.nav{
position:fixed;
top:14px;
left:50%;
transform:translateX(-50%);
width:min(92%,1280px);
height:78px;
padding:0 34px;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(255,255,255,.3);
backdrop-filter:blur(22px);
border-radius:26px;
z-index:999;
}

.logo{
width:52px;
height:52px;
background:#111;
border-radius:14px;
display:flex;
justify-content:center;
align-items:center;
font-size:30px;
font-weight:800;
color:#fff;
}

.logo span{
color:#A8F06A;
}

.menu{
display:flex;
gap:38px;
list-style:none;
font-weight:700;
}

.cta{
padding:14px 22px;
border:none;
border-radius:50px;
background:rgba(255,255,255,.42);
}

@media(max-width:900px){
.menu{display:none;}
.nav{height:68px;}
}