.services{
padding:120px 6vw;
}

.services h2{
font-size:clamp(48px,8vw,76px);
margin-bottom:60px;
}

.cards{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
}

.cards div{
padding:50px;
background:#fff;
border-radius:28px;
}

@media(max-width:900px){
.cards{
grid-template-columns:1fr;
}
}