.projects{
padding:120px 6vw;
}

.projects h2{
font-size:clamp(52px,8vw,76px);
margin-bottom:70px;
}

.project{
display:grid;
grid-template-columns:1fr 1fr;
gap:50px;

padding:40px;
background:#f7f7f7;
border-radius:30px;

margin-bottom:60px;
}

.project img{
width:100%;
border-radius:20px;
}

@media(max-width:900px){
.project{
grid-template-columns:1fr;
}
}